body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-color: black;
}

a{
  display: inline-block;
    text-decoration-skip-ink: auto;
    position: relative;
    cursor: pointer;
    color: rgb(100, 255, 218);
    text-decoration: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.container {
 width: 250px;
  height: 100px;
  display:flex;
 align-items: center;
  justify-content: center;
  margin:150px auto;
  }

.neon-container{
   padding: 1em;
   box-shadow:
  0 0 0.1vw  0.4vw #fff7f7,   
  0 0 0.4vw  0.6vw #e97272, 
  0 0   4vw  0.4vw #e50b0b,
  inset 0 0 1.5vw  0.4vw #e50b0b,
  inset 0 0 0.4vw  0.2vw #e97272,
  inset 0 0 0.5vw  0.2vw #fff7f7;
  border-radius: 1.5rem;
}

.neon {
  font-family: neon;
  text-align: center;
  color: #FB4264;
  font-size: 5vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw #F40A35;
}

.flux {
  font-family: neon;
  text-align: center;
  color: #426DFB;
  font-size: 5vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw #2356FF;
}

.start{
  font-family: neon;
  text-align: center;
  color: rgb(193, 49, 209);
  font-size: 5vw;
  line-height: 5vw;
  text-shadow: 0 0 3vw rgb(158, 27, 168);
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 1s linear infinite;
  -moz-animation: flux 1s linear infinite;
  -webkit-animation: flux 1s linear infinite;
  -o-animation: flux 1s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #28D7FE;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}

.start {
  animation: start 1s linear infinite;
  -moz-animation: start 1s linear infinite;
  -webkit-animation: start 1s linear infinite;
  -o-animation: start 1s linear infinite;
}

@keyframes start {
  0%,
  100% {
    text-shadow: 0 0 1vw rgb(96, 7, 99), 0 0 3vw rgb(158, 13, 174), 0 0 10vw rgba(137, 31, 120, 0.881), 0 0 10vw rgb(122, 20, 114), 0 0 .4vw rgb(199, 145, 201), .5vw .5vw .1vw rgb(233, 103, 238);
    color: rgb(221, 126, 230);
  }
  50% {
    text-shadow: 0 0 .5vw #490f5a, 0 0 1.5vw #5c1063, 0 0 5vw #4d2755, 0 0 5vw rgb(84, 14, 87), 0 0 .2vw #4a004f, .5vw .5vw .1vw rgb(60, 11, 65);
    color: rgb(199, 61, 197);
  }
}

.box {
   width: 250px;
  height: 100px;
  display:flex;
 align-items: center;
  justify-content: center;
  margin:180px auto; 
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 250px;
    cursor: pointer;
 
}
.btn {
    transition: all 0.5s;
    position: relative;
}
.btn span {
    z-index: 2; 
      display:block;
    position: absolute;
    width: 100%;
    height: 100%;   
}
.btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
  
}
.btn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255,255,255,0.2);
    
}
.btn:hover::before {
  transform: rotate(-45deg);
  background-color: rgba(255,255,255,0);
}
.btn:hover::after {
  transform: rotate(45deg);
  background-color: rgba(255,255,255,0);
}

